<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fn-secureapi-dev-aue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7bc8f609-efb0-4078-8e94-461c8c3df7ea/resourceGroups/SecureApi/providers/Microsoft.Web/sites/fn-secureapi-dev-aue</ResourceId>
    <UserName>$fn-secureapi-dev-aue</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://fn-secureapi-dev-aue.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>